* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
}

h1 {
  font-size: 1.5em;
  margin: 20px;
}

h2 {
  font-size: 1.3em;
  margin: 20px;
}

h3 {
  font-size: 1.2em;
  margin: 20px;
}

p {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin: 20px 0px 0px 20px;
}

label {
  font-size: 1.2em;
}

input {
  width: 300px;
  border: 1px solid black;
  font-size: 1.2em;

}

select {
  width: 300px;
  border: 1px solid black;
  font-size: 1.2em;
}

#methodology {
  width: 320px;
}

#disclaimer {
  width: 320px;
}