* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: rgb(175, 175, 175);
  --gray-text: rgb(175, 175, 175);
  --font-color: whitesmoke;
  --bg-color: #000;
  --heading-color: white;
}

[data-theme="light"] {
  --primary-color: whitesmoke;
  --secondary-color: rgb(35, 35, 35);
  --gray-text: rgb(35, 35, 35);
  --font-color: rgb(10, 10, 10);
  --bg-color: white;
  --heading-color: #000;
}

body {
display: flex;
flex-direction: column;
width: 340px;
margin: 0px;
padding: 0 0 20px 20px;
font-family: 'Roboto Condensed', sans-serif;
background-color: var(--bg-color);
color: var(--font-color);
font-size: calc(1rem + 0.25vh);
text-align: justify;
}

nav {
display: flex;
justify-content: start;
margin: 20px 0 0 0px;
}

nav p {
  margin: 0 0 0 10px;
}

/*slider switch css */
.theme-switch-wrapper {
display: flex;
}

.theme-switch {
display: inline-block;
height: 34px;
position: relative;
width: 255px;
}

.theme-switch input {
display: none; 
}

.slider {
background-color: #ccc;
cursor: pointer;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
transition: .4s;
}

.slider:before {
background-color: #fff;
content: "";
position: absolute;
width: 26px;
height: 26px;
bottom: 4px;
left: 4px;
transition: .4s;
}

input:checked + .slider {
background-color: #e9ff20;
}

input:checked + .slider:before {
transform: translateX(195px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

h1 {
  color: var(--heading-color);
  width: 320px;
  font-size: 1.5em;
  margin: 20px 0;
}

h2 {
  font-size: 1.2em;
  margin: 20px 0px 0px 0px;
}

h3 {
  margin: 20px 0px 0px 0px;
}

p {
  margin: 5px 0px 0px 0px;
}

form > p {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;  
}

label {
  font-size: 1.2em;
  margin: 0px 0px 5px 0px;
}

input, select {
  color: var(--font-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  font-size: 1.2em;
}

.gray-text {
  color: var(--gray-text);
}

#disclaimer h2 {
  color: red;
}